@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
.brytzone_signup {
  @include flex(column);
  @include size(100vw, 100vh);
  justify-content: flex-start;
  background-color: #000;
  background-image: url("./../login/login_light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  /***********************************************Login Body***********************************************/
  .signup_body {
    @include flex(column);
    justify-content: flex-start;
    justify-self: center;
    margin-block: 5rem;
    border: 1px solid red;

    & > * {
    }
    @media only screen and (width > 1200px) {
      gap: 3rem;
      @include size(120rem, 85rem);
    }

    .body {
      @include flex;
      @include size(100%);
      .left,
      .right {
        @include size(100%);
        @include flex(column);
      }
      .left {
        img {
        }
      }

      .right {
        //heading
        .heading {
          @include flex;
          @include size(100%, 7rem);
          width: 22rem;
          background-image: url("sign.png");
          background-position-x: 50%;
          -webkit-mask-image: url(signup.svg);
          mask-image: url(signup.svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-clip: border-box;
          mask-clip: border-box;
        }
        //testx progres
        .signup_progress {
          border: 1px solid red;
          width: 30rem;
          width: 50rem;
          height: 5rem;

          svg {
            @include size(inherit);

            //resizing groups
            #g1,
            #g2,
            #g3 {
              & > * {
                // stroke: url("#skyGradient");
                stroke: $primary;
              }
              & > .placeholder {
                // stroke: url("#skyGradient");
                stroke: $progress;
              }
            }

            #g1 {
              transform: scale(0.8) translate(-39%, 10%);
            }
            #l1 {
              transform: translateX(-33.5%);
            }
            #g2 {
              transform: scale(0.8) translate(20%, 10%);
            }
            #l2 {
              transform: translateX(6.5%);
            }
            #g3 {
              transform: scale(0.8) translate(78%, 10%);
            }
            & > * {
              // stroke: url("#skyGradient");
              stroke: $primary;
            }
            & > line {
              stroke: $primary;
              stroke-width: 2rem;
              // stroke: url("#skyGradient");
            }
            & > .placeholder {
              stroke: $progress;
              stroke-width: 2rem;
              // stroke: url("#skyGradient");
            }
          }
        }
        //forms
        form {
          width: 100%;
          @include size(100%);
          padding-inline: 2rem;
          @include flex(column);

          gap: 2rem;
          /***********************************************Container fields***********************************************/
          .container {
            @include size(100%);
            @include size(inherit);
            // @include customgrid(1, 1, 95%);
            @include flex(column);
            gap: 2rem;

            // background-color: red;
            .sub-container {
              // background-color: rgb(0, 255, 81);
              // @include position("1/2");
              @include size(auto);
              @include flex(column);
              gap: 1.5rem;
              padding: 2rem;
              label {
                width: 45rem;
              }
            }
            //buttons
            .btns {
              @include flex;
              @include size(100%, auto);
              padding-inline: 2rem;
              justify-content: space-between;
            }
          }
          /***********************************************Actions fields***********************************************/
          .actions {
            width: max-content;
            @include flex(column);
            transform: translate(-5rem, 3rem);
            gap: 1.5rem;
            .help {
              gap: 0.5rem;
              @include flex;

              span {
                color: #000;
                text-align: center;
                font-size: 18px;
                font-family: Poppins;
              }
            }
            button {
              width: 304.286px;
              height: 58.256px;
              border-radius: 5px;
              background: $primary;
              color: #fff;
              text-align: center;
              font-size: 30px;
              font-family: Poppins;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
