/***********************************************Importing other stylesheets***********************************************/
@use "pages";
@use "layout";
@use "components";

//styling links
a {
  text-decoration: none;
}

//all components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Configuring html
html {
  font-size: 62.5%;

  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  min-width: 32rem;
}

:root,
:root.light {
  --test: #0a518b;
  --bg: white;
}

:root.dark {
  // :root,:root.dark {
  --test: gold;
  --bg: #0a518b;
}
