@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
.brtyzone_footer {
  // color: $black;
  justify-self: flex-end;
  @include size(100vw, 67.2rem);
  border: 1px solid red;
  padding: 6.825rem 3.7rem 2.5rem 3.7rem;
  background-color: $primary;

  /**************************************Footer Item**************************************/
  &_links {
    height: 500px;
    @include flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    &-item {
      width: 160.88px;
      height: 160.81px;
      border: 1px solid red;
      @include flex(column);
      align-items: flex-start;
      gap: 1.5rem;

      &:nth-child(4) {
        height: 220px;
        justify-content: flex-start;
        div span {
          &:nth-child(2) {
            @include flex;
            justify-content: flex-start;
            gap: 1rem;
            svg {
              cursor: pointer;
            }
          }
        }
      }

      .logo {
        @include size(100%, 5.22rem);
        img {
          @include size(45%, auto);
        }
      }
      h4 {
        // border: 1px solid red;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15.6461px;
        line-height: 23px;
      }
      div {
        @include flex(column);
        // border: 1px solid red;
        gap: 1rem;
        align-items: flex-start;

        span {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 200;
          font-size: 15.6461px;
          line-height: 23px;
        }
      }
      @media only screen and (width < 400px) {
      div  span {
          font-size: 13.6461px;
          h4 {
            font-size: 14.6461px;
          }
        }
        &:nth-child(1) {
          width: auto;
        }
        &:nth-child(2) {
          justify-content: flex-start;
        }
        &:nth-child(3) {
          width: auto;
        }
        &:nth-child(4) {
        }
      }
    }
  }
  hr {
    transform: translate(-4rem, -4rem);
    width: 100vw;
  }
  &_rights {
    @include flex(column);
    gap: 2rem;
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 100;
      font-size: 15.6px;
      line-height: 23px;
    }
    div {
      &:nth-child(1) {
        @include flex;
        gap: 0.5rem;
      }
      &:nth-child(2) {
        @include flex;
        gap: 4rem;
      }
    }
    // @include size(inherit, 11.8rem);
  }
}
