@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }

  20% {
    transform: scale(4.5);
  }
  40% {
    transform: scale(8.5);
  }
  60% {
    transform: scale(12.5);
  }
  80% {
    transform: scale(21.5);
    opacity: 1;
    z-index: 4;
    display: inherit;
  }
  100% {
    transform: scale(31.5);
    // opacity: 0;
    // z-index: -1;
    display: none;
  }
}
@keyframes fadeout {
  0%,
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    // display: none;
    opacity: 0;
    // z-index: -1;
  }
}
#loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(208, 34, 34);
  z-index: 999;
  @include flex;
  animation: fadeout 5s ease-in-out 0s 1 forwards;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
  opacity: 1;
  z-index: 4;
  // display: none;
  overflow: hidden;

  .wave {
    transform: scale(32.5);
    transform: scale(1.5);
    opacity: 1;
    animation: zoom 5s ease-in-out 0s 1 forwards;
    z-index: 4;
    display: inherit;

    // display: none;
  }
}
