@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;

nav {
  border: 1px solid red;

  // @include size(100vw, 9rem);
  width: 100vw;
  @include flex(column);
  @include grid;

  padding: 2.475rem 2.625rem;
  padding: 0.25rem 2.625rem;
  background: transparent;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(1rem);
  font-family: "Poppins", sans-serif;
  color: black;
  justify-self: flex-start;
  gap: 4rem;
  background-color: $primary;
  background-color: $background;
  z-index: 2;

  /**************************************Navbar logo**************************************/
  img {
    transform: scale(0.25);
  }

  /**************************************Navbar subblocks**************************************/
  div {
    border: 1px solid red;
    @include size(calc(100vw - calc(3rem * 2)), 6rem);
    @include flex;
    justify-content: flex-start;
    background-color: transparent;
    align-self: flex-start;

    /**************************************logo container**************************************/
    &:nth-child(1) {
      justify-content: space-between;
      // padding-top: 2rem;
      img,
      span {
        // @include size(7rem,5.5rem);
      }
      img {
        justify-self: flex-start;
      }
      span {
        @include size(5rem);
        @include flex;

        cursor: pointer;
        svg {
          //   @include size(inherit);
          @include size(4rem);

          path {
            stroke: $primary;
            stroke-width: 1px;
          }
        }
      }
    }
    /**************************************links container**************************************/
    &:nth-child(2) {
      @include flex(column);
      height: auto;
      gap: 1rem;
      align-items: flex-start;
    }
    /**************************************actions container**************************************/
    &:nth-child(3) {
      flex-wrap: wrap;
      height: fit-content;
      gap: 3rem;
      padding-bottom: 6.5rem;
      span {
        @include size(12.3rem, 4.2rem);
        border: 1px solid red;
      }
    }
  }

  /**************************************SVGs**************************************/
  svg {
  }

  @media only screen and (width > 960px) {
    @include flex;
    height: 9.6rem;
    padding: 3.4rem 8.5rem;
    img {
      transform: scale(0.3);
    }
    div {
      &:nth-child(1) {
        .menu {
          display: none;
        }
      }
    }
    .navbar_mobile{
      display: none;
    }
  }
  @media only screen and (width > 1024px) {
    img {
      transform: scale(0.35);
    }
  }
  @media only screen and (width > 1200px) {
    img {
      transform: scale(0.4);
    }
  }
  @media only screen and (width > 1500px) {
    img {
      transform: scale(0.45);
    }
  }
}

/**************************************Navbar Links**************************************/
.nav_link {
  font-family: "Poppins", sans-serif;
  @include formatText(500, 2rem, 3rem);
  text-transform: capitalize;
  color: $black;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: $primary;
  }
}
.nav_link-active {
  color: $primary;
  color: red;
}

/**************************************Navbar Modal**************************************/
#modal {
  // @include size(100vw,100vh);
  width: 100vw;
  background-color: rgba(#000, 0.1);
  position: absolute;
  z-index: 0;
  // background: linear-gradient(to bottom, white 70%, rgba(0, 0, 0, 0.418));
}
