@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin community {
  &-community {
    color: $black;
    @include flex;
    // border: 1px solid red;
    @include size(100vw, auto);
    padding-inline: 3.3rem;
    @media only screen and (width > 800px) {
      justify-content: space-evenly;
    }
    @media only screen and (width > 1500px) {
      justify-content: center;
      gap: 10rem;
    }
    div {
      &:nth-child(1) {
        display: none;
        // border: 1px solid red;

        img {
          @include size(inherit);
        filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, 0.5));

        }
        @media only screen and (width > 900px) {
          @include size(36.6rem);
          @include flex;
        filter: drop-shadow(0 0 .5rem rgba(166, 30, 30, 0.1));

        }
        @media only screen and (width > 1200px) {
          @include size(56.6rem);
        }
      }
      &:nth-child(2) {
        // border: 1px solid red;

        @include flex(column);
        gap: 2.5rem;
        padding-bottom: 4rem;
        @media only screen and (width > 900px) {
          width: 50%;
        }
        @media only screen and (width > 900px) {
          width: 50rem;
        }
        @media only screen and (width > 1500px) {
          h3 span {
            text-align: left;
          }
        }

        p {
          @include formatText(400, 1.5rem, 2.2rem);
          // border: 1px solid red;
          width: 343.26px;
          // @include flex;
          text-align: center;

          @media only screen and (width > 500px) {
            width: 85%;
          }
          @media only screen and (width > 800px) {
            width: 90%;
            @include formatText(400, 1.8rem, 3rem);
          }
          @media only screen and (width > 1200px) {
            font-size: 25px;
            line-height: 38px;
            @include formatText(400, 2.5rem, 3.8rem);
          }
          @media only screen and (width > 1500px) {
            width: 100%;
            text-align: left;
          }
        }
        button {
          @include size(20rem, 4.5rem);
          @include formatText(500, 2rem, 3rem);
          @media only screen and (width > 800px) {
            @include size(24rem, 5rem);
            @include formatText(500, 2.5rem, 4rem);
          }
          @media only screen and (width > 1200px) {
            @include size(28rem, 6rem);
            @include formatText(500, 3rem, 4.5rem);
            margin-top: 3rem;
          }
          @media only screen and (width > 1500px) {
            align-self: flex-start;
          }
        }
      }
    }
  }
}
