@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin how {
  &-how {
    border: 1px solid transparent;
    color: $black;
    @include flex(column);

    @include size(100vw, auto);
    gap: 0rem;
    justify-content: flex-start;
    padding: 0 3.3rem;
    border: 1px solid red;
    background-color: $helperBlue1;

    h2 {
      text-align: center;
      @include formatText(500, 1.8rem, 2.7rem);
    }
    /**************************************Left**************************************/
    .hleft {
      border: inherit;
      @include flex(column);
      @include grid;
      // background-color: red;
      @include size(100%, 50rem);
      align-items: flex-start;

      div {
        @include size(auto);
        transform: scale(1.5);
        @include customgrid(1, 1, 1fr);

        img {
          @include size(auto);
          @include position("1/2");
          width: 214.12px;
          height: 203.8px;
          aspect-ratio: auto;
          transform: scale(0.75) translateX(10px);
          justify-self: center;
        }
        svg {
          width: 312.58px;
          height: 285.72px;
          @include position("1/2");

          g {
            circle + path {
              fill: $primary;
              transition: fill 0.25s ease-in-out;
            }
            circle {
              transition: fill 0.25s ease-in-out;
            }
            &:hover {
              cursor: pointer;
              circle {
                fill: $primary;
              }
              path {
                fill: $background;
              }
            }
          }
        }
      }
    }
    /**************************************Right**************************************/
    .hright {
      border: inherit;
      @include flex(column);
      @include grid;
      // background-color: red;
      @include size(100%, auto);
      h2 {
        display: none;
      }

      circle,
      path,
      rect,
      line {
        stroke-width: 0.5px;
        stroke-linecap: round;
        // fill: transparent;
      }

      ul {
        min-height: 200.2px;
        width: 33rem;
        @include flex(column);
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        li {
          list-style-type: none;
          height: auto;
          @include flex;
          gap: 0.5rem;
          // border: 1px solid red;
          // background-color: grey;
          overflow: hidden;
          span {
            height: 1.7rem;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 10.7076px;
            line-height: 16px;
            @include flex;
            padding-top: 0.25rem;
            // border: 1px solid red;
          }
          svg {
            height: 1.7rem;
            path {
              stroke: $primary;
            }
          }
        }
      }
    }

    @media only screen and (width > 500px) {
      .hright {
        ul {
          width: 38rem;
          li {
            gap: 1rem;
            span {
              line-height: auto;
              height: auto;
              font-size: 1.5rem;
              align-items: flex-start;
              padding-top: 0;
            }
            svg {
              height: auto;
            }
            height: auto;
          }
        }
      }
    }

    @media only screen and (width > 900px) {
      @include flex;
      flex-wrap: wrap;
      height: 52rem;
      align-items: flex-start;

      //heading
      .brytzone_heading--bordered {
        width: 100vw;
      }
      h2 {
        display: none;
      }
      .hright,
      .hleft {
        width: 50%;
        height: auto;
      }
      .hright {
        gap: 3rem;
        ul {
          gap: 4rem;
        }
        h2 {
          display: flex;
          font-size: 2rem;
        }
      }
    }
    @media only screen and (width > 1200px) {
      .hright {
        justify-content: flex-start;
        padding-left: 10rem;
      }
    }
    @media only screen and (width > 1300px) {
      height: 66rem;
      .hleft {
        // justify-content: flex-end;
        // padding-right: 10rem;
        div {
          transform: scale(2) translateY(2.5rem);
        }
      }
      .hright {
        height: 40rem;
        h2 {
          font-size: 3.5rem;
        }
        ul {
          width: 100%;
          li {
            height: 3rem;
            gap: 1;
            span {
              font-size: 2rem;
            }
            svg {
              height: auto;
            }
          }
        }
      }
    }
  }
}
