@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin how {
  &-how {
    border: 1px solid transparent;
    color: $black;
    @include flex(column);
    @include size(100vw, auto);
    gap: 3rem;
    justify-content: flex-start;
    padding: 3.3rem;

    /**************************************Card**************************************/
  }
}
