@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin how {
  &-how {
    border: 1px solid transparent;
    color: $black;
    @include flex(column);
    @include size(100vw, auto);
    gap: 0rem;
    justify-content: flex-start;
    padding: 3.3rem;
    border: 1px solid red;
    h3 {
      text-align: center;
      @include formatText(500, 1.8rem, 2.7rem);
    }
    /**************************************Left**************************************/
    .hleft {
      border: inherit;
      @include flex(column);
      @include grid;
      // background-color: red;
      @include size(100%, 50rem);
      align-items: flex-start;

      div {
        @include size(auto);
        transform: scale(1.5);
        @include customgrid(1, 1, 1fr);

        img {
          @include size(auto);
          @include position("1/2");
          width: 214.12px;
          height: 203.8px;
          aspect-ratio: auto;
          transform: scale(0.75) translateX(10px);
          justify-self: center;
        }
        svg {
          width: 312.58px;
          height: 285.72px;
          @include position("1/2");

          g {
            circle + path {
              fill: $primary;
            }
            &:hover {
              cursor: pointer;
              circle {
                fill: $primary;
              }
              path {
                fill: $background;
              }
            }
          }
        }
      }
    }
    /**************************************Right**************************************/
    .hright {
      border: inherit;
      @include flex(column);
      @include grid;
      // background-color: red;
      @include size(100%, auto);
      h3 {
        display: none;
      }

      circle,
      path,
      rect,
      line {
        stroke-width: 0.5px;
        stroke-linecap: round;
        // fill: transparent;
      }

      ul {
        min-height: 200.2px;
        width: 33rem;
        @include flex(column);
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        li {
          list-style-type: none;
          height: auto;
          @include flex;
          gap: 0.5rem;
          // border: 1px solid red;
          // background-color: grey;
          overflow: hidden;
          span {
            height: 1.7rem;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 10.7076px;
            line-height: 16px;
            @include flex;
            padding-top: 0.25rem;
            // border: 1px solid red;
          }
          svg {
            height: 1.7rem;
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }
}
