@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@keyframes fade {
  100% {
    stroke-opacity: 1;
  }
}

@mixin rounded ($bgcolor:$primary){
  background-color: $bgcolor;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.brytzone_home {
  /**************************************Header**************************************/
  @include size(100vw, auto);
  @include flex(column);
  // border: 1px solid red;

  &-header {
    color: black;
    @include flex(column);
    border: 1px solid red;
    @include size(100vw, auto);
    padding-block: 5.4rem;
    padding-inline: 3.3rem;
    gap: 6rem;
    // background-color: greenyellow;

    div {
      // border: 1px solid red;
      @include size(100%, auto);
      @include flex(column);
    }

    /**************************************Header Left Section**************************************/
    .left {
      border: 1px solid red;
      align-items: flex-start;
      gap: 3rem;
      //Search Component
      .header_action {
        @include flex(column);
        align-items: flex-start;
        gap: 1.5rem;
        .header_search {
          @include flex;
          justify-content: flex-start;

          gap: 0.25rem;
          button {
            @include size(5.857rem, 2.88rem);
            font-size: 1.05373rem;
          }
          span {
            @include size(21.07rem, 2.898rem);
            border: 1.31716px solid $primary;
            @include flex;
            justify-content: inherit;
            padding-inline: 0.5rem;
            gap: 0.5rem;
            svg {
              @include size(1.3rem);
              path {
                fill: $primary;
              }
            }
            input {
              @include size(14.3rem, 1.6rem);
              font-family: "Poppins";
              @include formatText(400, 1.0537rem, 0.6rem);
              border: none;
              background: transparent;
              outline: none;
              color: $primary;
              &::placeholder {
                color: inherit;
              }
            }
          }
        }
      }
      div {
        align-items: flex-start;
        gap: 1.5rem;
      }
      h1 {
        @include size(33.285rem, 12.7rem);
        font-family: "Poppins";
        @include formatText(400, 3.15rem, 4.2rem);
        .header_bold {
          font-weight: 500;
          color: $primary;
        }
      }
      p {
        font-family: "Poppins";
        @include size(29.35rem, 6.9rem);
        @include formatText(400, 1.5rem, 2.2rem);
      }
    }
    /**************************************Header Center Section**************************************/
    .center {
      border: 1px solid red;
      cursor: pointer;
      @include size(100%, 12rem);

      span {
        -webkit-user-select: none;
        user-select: none;
        display: block;
        // width: 10.5vw;
        // height: 10.5vw;
        @include size(3rem);
        border-bottom: 5px solid $primary;
        border-right: 5px solid $primary;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
        &:nth-child(2) {
          animation-delay: -0.2s;
        }

        &:nth-child(3) {
          animation-delay: -0.4s;
        }
      }

      @keyframes animate {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
      }
      // svg {
      //   path {
      //     stroke: $primary;
      //     // stroke-opacity: 0;
      //     transition: stroke-opacity 0.25s ease-in-out;

      //     &:nth-child(1) {
      //       // stroke-opacity: 1;
      //     }
      //     &:nth-child(2) {
      //     }
      //     &:nth-child(3) {
      //     }
      //     &:nth-child(4) {
      //       // animation: fade 2s ease-in-out 0s infinite;
      //       transform: translateY(0px);
      //     }
      //   }
      // }
    }

    /**************************************Header Right Section**************************************/
    .right {
      border: 1px solid red;
      width: 100%;
      // height: 214.83px;
      @include customgrid(2, 3, 133.36px, 1fr);
      @include customgrid(2, 3, 103.36px);
      // @include customgrid(2, 3, 20rem);
      span {
        border: 1px solid red;
        height: 100%;
        img {
          @include size(auto);
          @include size(100%);
        }
      }
      .play {
       @include rounded;
        @include size(100%);

        svg {
          cursor: pointer;

          circle {
            transition: fill 0.25s ease-in-out;
          }

          &:hover {
            circle {
              fill: goldenrod;
            }
          }
        }
      }
    }
  }
}
