@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin newsletter {
  &-newsletter {
    border: 1px solid transparent;
    color: $black;
    @include flex(column);
    // border: 1px solid red;

    @include size(100vw, auto);
    gap: 2rem;
    justify-content: flex-start;
    padding: 3rem 3.3rem;
    // section sub container
    .newsletter_content {
      // border: 1px solid red;
      @include flex(column);
      gap: 2rem;
      @include size(100vw, auto);

      //text section
      &_text {
        @include flex(column);
        @include size(35rem, auto);
        gap: 1.25rem;

        // border: 1px solid red;
        h2 {
          color: $primary;
          font-size: 1.8rem;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
        }
        p {
          color: $black;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Poppins", sans-serif;
        }
      }

      //form section
      &_form {
        //form item
        @include flex;
        form {
          width: 14.6rem;
          height: 14.5rem;
          @include flex(column);
          @media only screen and (500px < width < 900px) {
            transform: scale(1.25) translate(2rem, 4rem);
          }
          gap: 1rem;
          // border: 1px solid red;
          border-radius: 0.8848rem;
          background: rgba(50, 119, 175, 0.65);
          padding: 1.5rem;
          transform: translate(4rem, 4rem);
          z-index: 2;
          h3 {
            color: #fff;
            font-size: 1.2977rem;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
          }
          span {
            color: #000;
            font-size: 0.8848rem;
            font-family: "Poppins", sans-serif;
          }

          input {
            width: 11.6661rem;
            height: 2.3594rem;
            border-radius: 0.2949rem;
            background: #effdf2;
            outline: none;
            border-color: transparent;
            color: #292d32;
            font-size: 0.8848rem;
            font-family: "Readex Pro Variable", sans-serif;
            padding-left: 0.5rem;
          }
          button {
            width: 9.5164rem;
            height: 2.3594rem;
            font-size: 1.0617rem;
            font-family: "Readex Pro Variable", sans-serif;
            font-weight: 500;
          }
        }

        //side picture
        .mask {
          width: 17.9422rem;
          height: 18.2856rem;
          background-color: $primary;
          // transform: rotate(6.218deg);
          -webkit-mask-image: url(newslettermask.png);
          mask-image: url(newslettermask.png);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 18rem 18.2rem;
          -webkit-mask-clip: border-box;
          mask-size: 18rem 18.2rem;
          mask-clip: border-box;
          // -webkit-mask-position-y: -3rem;

          img {
            width: 171.422px;
            height: 162.856px;
            transform: translate(0.5rem, 1rem);
            -webkit-mask-image: url(newslettermask.png);
            mask-image: url(newslettermask.png);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 17.1rem 16.2rem;
            -webkit-mask-clip: border-box;
            mask-size: 17.1rem 16.2rem;
            mask-clip: border-box;
            // -webkit-mask-position-y: -3rem;
          }
        }
      }
      @media only screen and (width > 750px) {
        height: 22rem;
        @include flex;
        align-items: flex-start;
        &_text {
          justify-self: center;
          transform: translateY(3rem);
        }
      }
      @media only screen and (width > 900px) {
        transform: translateX(5rem);
        height: 18rem;
        @include flex;
        // align-items: flex-start;
        &_text {
          justify-self: center;
          // transform: translateY(-2rem);
          width: 391.908px;
          h2 {
            font-size: 26px;
            font-weight: 600;
            width: 318.908px;
            align-self: flex-start;
          }
          p {
            width: 401.135px;
            text-align: left;
            align-self: flex-start;
          }
        }

        &_form {
          // display: none;
          transform: scale(0.85);
          form {
            gap: 1.5rem;
            width: 247.889px;
            height: 246.911px;
            transform: translate(7rem, 7rem);
            h3 {
              font-size: 22px;
            }
            span {
              font-size: 15px;
              width: 220.428px;
              text-align: center;
            }
            input {
              width: 197.778px;
              height: 40px;
              font-size: 15px;
            }
            button {
              width: 161.333px;
              height: 40px;
              font-size: 18px;
            }
          }
        }

        //side picture
        .mask {
          width: 24.4rem;
          height: 25rem;
          -webkit-mask-size: 24.4rem 25rem;
          mask-size: 24.4rem 25rem;
          img {
            // display: none;
            width: 22rem;
            height: 21.4rem;
            transform: translate(1.5rem, 1.5rem);
            -webkit-mask-size: 22rem 21.4rem;
            mask-size: 22rem 21.4rem;
          }
        }
      }
      @media only screen and (width > 1300px) {
        height: 22rem;
        height: 35rem;
        @include flex;
        // align-items: flex-start;
        &_text {
          justify-self: center;
          align-items: center;
          // transform: translateY(-2rem);
          width: 555.908px;

          h2 {
            font-size: 40px;
            font-weight: 500;
            width: 555.908px;
          }
          p {
            font-size: 20px;
            width: 454.135px;
            text-align: left;
            align-self: flex-start;
          }
        }

        &_form {
          transform: none;
          form {
            gap: 1.5rem;
            width: 247.889px;
            height: 246.911px;
            transform: translate(7rem, 7rem);
            h3 {
              font-size: 22px;
            }
            span {
              font-size: 15px;
              width: 220.428px;
              text-align: center;
            }
            input {
              width: 197.778px;
              height: 40px;
              font-size: 15px;
            }
            button {
              width: 161.333px;
              height: 40px;
              font-size: 18px;
            }
          }
        }

        //side picture
        .mask {
          width: 30.4rem;
          height: 31rem;
          -webkit-mask-size: 30.4rem 31rem;
          mask-size: 30.4rem 31rem;

          img {
            width: 28rem;
            height: 27.4rem;
            transform: translate(1.5rem, 1.5rem);
            -webkit-mask-size: 28rem 27.4rem;
            mask-size: 28rem 27.4rem;
          }
        }
      }
    }
    @media only screen and (500px < width < 750px) {
      margin-bottom: 5rem;
    }
    // height: 70rem;
    @media only screen and (width > 900px) {
      height: 45rem;
    }
    @media only screen and (width > 1300px) {
      height: 60rem;
    }
  }
}
