@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;
@mixin start {
  &-start {
    border: 1px solid red;
    color: $black;
    @include flex(column);
    @include size(100vw, auto);
    gap: 3rem;
    justify-content: flex-start;
    padding: 3.3rem;
    p {
      @include formatText(400, 1.5rem, 2.2rem);
      text-align: center;
      width: 344.38px;
    }
    //cards
    div.card_parent {
      @include flex(column);
      // width: 261px;
      // height: 262px;
      @include size(100%, auto);

      border: 1px solid red;

      // card-item
      div.card_item {
        @include size(26.1rem);
        @include customgrid(1, 1, 1fr);
        border: 1px solid $primary;
        border-radius: 1rem;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          article {
            span {
              color: $background;
              &:nth-child(4) {
                svg {
                  path {
                    fill: $background;
                  }
                }
              }
            }
          }
          /**************************************Animating SVG Background**************************************/
          svg {
            defs {
              linearGradient {
                stop {
                  &:nth-child(1) {
                    stop-color: #0a518b;
                  }
                  &:nth-child(2) {
                    stop-color: #3277af;
                  }
                }
              }
            }
          }
        }
        svg {
          @include size(inherit);
          @include position("1/2");
          /**************************************Animating SVG Background**************************************/
          defs {
            linearGradient {
              stop {
                transition: stop-color 0.5s ease-in-out;
                &:nth-child(1) {
                  stop-color: #fff;
                }
                &:nth-child(2) {
                  stop-color: #fff;
                }
              }
            }
          }
          rect.paint {
            @include size(100%);
            // fill: url(#paint0);
            border-radius: 1rem;
          }
        }
        article {
          @include size(inherit);
          @include position("1/2");
          @include flex(column);
          background-color: transparent;
          gap: 1.5rem;
          // display: none;
          span {
            @include flex(column);
            color: $primary;
            transition: color 0.25s ease-in-out;
            &:nth-child(1) {
              width: 73.25px;
              height: 73.25px;
             

              .cls-1 {
                fill: none;
                stroke: #000;
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 0.1px;
              }
              svg{
                path,rect,polyline,ellipse,circle,line{
                  stroke: $primary;
                  stroke-width: 2px;
                }
              }
            }
            &:nth-child(2) {
              width: 73px;
              height: 27px;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              text-transform: capitalize;
            }
            &:nth-child(3) {
              width: 171px;
              height: 54px;
              left: 44px;
              top: 139px;

              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              text-align: center;
            }
            &:nth-child(4) {
              @include size(2.75rem, 2.208rem);
              svg {
                path {
                  fill: $primary;
                  transition: fill 0.25s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
